*{
	font-family: 'Rock Salt'   
}
.hidden {
  display: none;
}
.main-title {
  margin: 0px;
  font-size: 55px;
  letter-spacing: 10px;
  width: 275px;
height: 70px
}
.sub-title{ 
  font-size: 20px;
  letter-spacing: 6px;
  margin: 10px 0px 0px;
  width: 275px
}
.search-input {  
  width: 200px; 
  height: 30px
}
.spot-container {
  width: 300px;
}

/* For Bigger Displays */
@media (min-width:750px) {



}

/* For Smaller Displays */
@media (max-width:749px) {

  .spot-container {
   margin: auto;
  }

}

#map-wrapper {
  width: 90%;
  height: 300px;

margin-top: 5px
}
.search-form {

	margin: auto;
  text-align: center;
  width: 300px
}
.search-button {
  height: 30px;
  width: 50px;
  margin: 10px
}

.search-radio {
  text-align: left
}
.search-state {
  width: 100%;
  height: 30px;
border: 3px solid #3468c7;
color: #3468c7;
text-shadow:  none
}
.radio-element-label {
  font-size: 18px;
  font-weight: normal
}
.input-form {
  width: 100%;
  height: 30px;
  margin-top: 0px;
border: 3px solid #3468c7;
color: #3468c7;
border-radius: 6px
}.submit-button {
  width: 100px;
  height: 30px;
  margin-top: 15px;
  border: 3px solid #23c0af;border-radius: 6px;background-color: #23c0af;color: #fff
}
.login-form {
  width: 300px;
  margin-left: 50px
}
.spot-image {
  width: 33%;
  min-width: 300px;
  margin-top: 15px;
  margin-bottom: 15px
}
.map-container {
  width: 90%;
  height: 500px;
  font-size: 100px
}
.form-label {
  font-size: 20px;
  margin-top: 15px
}
#editor-difficulty {
  margin-top: 15px
}
.spot-delete {
  color: #ff0000
}
.spot-add {
  margin-left: 15px;
}
#results-map-wrapper{
  width: 700px;
  height: 400px;
}
#map-canvas {
  height:100%;
  margin: auto;
  width: 100%;
}
body {
  margin-bottom: 100px;
text-align: center
}
#search-radius {
  margin-top: 5px;
}

.margin-15 {
  margin-left: 15px;
}
.nav-element {
  font-size: 16px;
  font-weight: 400;
color: #3468c7;
}
#wave {
  margin: 0px;
}
#logo {
  text-align: left;
  width: 300px;

	margin: auto;
  padding-left: 12.5px;
  padding-right: 12.5px;
}
#title-bar {
  margin-bottom: 20px;
margin-top: 20px;
}hr {
    border: 0;
    border-top: 2px solid #3468c7
}
.fill {
  width: 100%;
height: 100%
}