*{
	font-family: 'Rock Salt'   
}
.background{
  background-image: url('jeremy-bishop-331840.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
text-align: center;
position: relative;
}
.hidden {
  display: none;
}
.main-title {
  margin: 0px;
  font-size: 55px;
  letter-spacing: 10px;
  width: 275px;
height: 70px
}
.sub-title{ 
  font-size: 20px;
  letter-spacing: 6px;
  margin: 10px 0px 0px;
  width: 275px
}
.search-input {  
  width: 200px; 
  height: 30px
}
.spot-container {
  width: 300px;
}

/* For Bigger Displays */
@media (min-width:750px) {

.whiteout {
  background-color: #fff;
  position: fixed;
  top: 0px;
  bottom: 0px;
  width: 700px;
  z-index: -1;
  left: 50%;
  margin-left: -350px
}

}

/* For Smaller Displays */
@media (max-width:749px) {

.spot-container {
  margin: auto;
}

}

#map-wrapper {
  width: 100%;
  max-width: 650px;
  height: 300px
}
.search-form {

	margin: auto;
  text-align: center;
  width: 300px
}
.search-button {
  height: 30px;
  width: 50px;
  margin: 10px
}

.search-radio {
  text-align: left
}
.search-state {
  width: 100%;
  height: 30px
}
.radio-element-label {
  font-size: 18px;
  font-weight: normal
}
.input-form {
  width: 100%;
  height: 30px;
  margin-top: 0px
}
.submit-button {
  width: 100px;
  height: 30px;
  margin-top: 15px
}
.login-form {
  width: 300px;
  margin-left: 50px
}
.spot-image {
  width: 300px;
  margin-top: 15px;
  margin-bottom: 15px
}
.map-container {
  width: 90%;
  height: 500px;
  font-size: 100px
}
.form-label {
  font-size: 20px;
  margin-top: 15px
}
#editor-difficulty {
  margin-top: 15px
}
.spot-delete {
  color: #ff0000
}
.spot-add {
  margin-left: 15px;
}
#results-map-wrapper{
  width: 700px;
  height: 400px;
}
#map-canvas {
  height:100%;
  margin-top: 5px;
  width: 100%;
}
body {
  margin-bottom: 100px;
text-align: center
}
#search-radius {
  margin-top: 5px;
}

.margin-15 {
  margin-left: 15px;
}
.nav-element {
  font-size: 16px;
  font-weight: 400;
color: #3468c7;
}
#wave {
  margin: 0px;
}
#logo {
  text-align: left;
  width: 300px;

	margin: auto;
  padding-left: 12.5px;
  padding-right: 12.5px;
}
#title-bar {
  margin-bottom: 40px;
margin-top: 20px;
}hr {
    border: 0;
    border-top: 2px solid #3468c7
}
.fill {
  width: 100%;
height: 100%
}
.whiteout2 {
  background-color: #fff;
z-index: -1;
position: fixed;
top: 0;
bottom: 0;
margin-left: 50%;
left: -200px;
width: 400px
}