.main-title {
  margin: 40px 40px 5px;
font-size: 75px;
letter-spacing: 10px
}.sub-title{  margin-left: 40px;margin-bottom: 40px;margin-right: 40px;font-size: 20px;letter-spacing: 9px}.search-input {  width: 200px;height: 30px
}
.search-button {
  height: 30px;
width: 50px;
margin: 10px
}
.search-form {
  width: 300px
}
.search-radio {
  text-align: left;
margin-left: 60px
}.search-radio-element {
}
.search-state {
  width: 200px;
height: 30px
}
.radio-element-label {
  font-size: 18px
}